<!DOCTYPE html>
<html>
<head>
<title>留言管理</title>
<#include "/header.html">
</head>
<body>
<div id="rrapp" v-cloak>
	<div v-show="showList">
		<div class="grid-btn">
	
			<#if shiro.hasPermission("leavingmessage:update")>
            <a class="btn btn-primary" @click="update"><i class="fa fa-trash-o"></i>&nbsp;回复</a>
			</#if>
		</div>
	    <table id="jqGrid"></table>
	    <div id="jqGridPager"></div>
    </div>
    
    <div v-show="!showList" class="panel panel-default">
		<div class="panel-heading">{{title}}</div>
		<form class="form-horizontal">
											<div class="form-group">
			   	<div class="col-sm-2 control-label">内容</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="leavingMessage.content" placeholder="内容"/>
			    </div>
			</div>
									<div class="form-group">
			   	<div class="col-sm-2 control-label">时间</div>
			   	<div class="col-sm-10">
			      <input type="date" class="form-control" v-model="leavingMessage.shijian" placeholder="时间"/>
			    </div>
			</div>
									<div class="form-group">
			   	<div class="col-sm-2 control-label">创建人</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="leavingMessage.createBy" placeholder="创建人"/>
			    </div>
			</div>
			
				<div class="form-group">
			   	<div class="col-sm-2 control-label">回复</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="leavingMessage.reply" placeholder="回复"/>
			    </div>
			</div>
			
			
							<div class="form-group">
				<div class="col-sm-2 control-label"></div> 
				<input type="button" class="btn btn-primary" @click="saveOrUpdate" value="确定"/>
				&nbsp;&nbsp;<input type="button" class="btn btn-warning" @click="reload" value="返回"/>
			</div>
		</form>
	</div>
</div>

<script src="${request.contextPath}/statics/js/modules/generator/leavingmessageManager.js?_${.now?long}"></script>
</body>
</html>